
.cell {
   display:flex;
   flex-direction:row;
   transition:1.5s;
   max-width: 200px;
   flex-wrap: wrap;
  

}

.cell text{
    text-align: center;
    border:solid white 1px;
    max-width:auto;
    min-width: 32.5px;
    min-height: 32.5px;
    max-height: 32.5px;
    color:white;
    letter-spacing: 2px;
}

.example-container{
    animation: 1.5s ease-out 0s 1 fadeIn;
}

@keyframes fadeIn {
    0% {
    
      opacity:0
    }
    70%{
      opacity:.6
    }
    100% {
      transform: translateX(0);
    }
  }