.container{
    width: 95%;
    margin:.25rem auto;
}

.info{
    text-align: center;
    color:white;
}

.example-row{
    flex-direction: row;
    display:flex;
    justify-content: space-around;
}

.example-cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition:.75s;
    background-color:darkslategrey;
    padding:.25rem 1.5rem;
    border-radius: 2rem;
    margin:0 auto;
    width:250px

}

.example-cell:hover{
    transition:1s;
    opacity:.2;
}

.example-cell text{
    color:white;
    margin:.25rem 0;
}

.cell-item{
    margin:.5rem 0;
}
.input-row{
    flex-direction: row;
    display:flex;
    justify-content: space-around;
}

form{
    margin:1rem 0;
}

form label{
    margin: 0 .5rem;
    color:white
}

form label input{
    margin:1rem .75rem;
}

.labelA{
    display: flex;
    flex-direction: column;

}
.labelB{
    display: flex;
    flex-direction: column;
}
.submit-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0 0;
    padding:1rem
}

.submit{
    border:none;
    background-color:rgba(22, 150, 112,.8);
    color:white;
    padding:.5rem 1rem;
    border-radius: .5rem;
    transition:1s;
   
    
}

.submit:hover{
    transition:1s;
    background-color:rgba(22, 150, 112,.5);
    cursor:pointer; 
}


a {
    text-decoration: none;
}

.check{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.check-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.check-column text{
    color:white;
    margin:.5rem 0;
}

.check-item{
    transition:.75s;
    padding:1rem;
    border-radius: 5rem;
    background-color: rgba(240, 9, 9,.8);
    margin:.5rem 0;
}

.output-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.output-div text{
    color:white;
    margin:.5rem 0;
}

.output-div-column{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    padding:.25rem 3rem;
    border-radius: 5rem;
    margin:1rem 0
}

.output-text{
    font-size:2rem
}

.current-array-container{
    display:inline;

}

.error-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error-div text{
    margin:1rem 0;
}