
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;

}

.header{
  background-color: rgba(18, 153, 158,.75);
  text-align: center;
  margin:0;
  padding:.25rem 0;
}

.section1{
  min-height: 45.5vh;
  background-color: #232932;
  box-shadow: 0px,10px,5px,5px,rgb(255, 62, 105);
}

.section2{
  min-height: 45.5vh;
  background-color: #232932;
}

.section1-title{
  text-align: center;
  margin:0;
  background-color: rgba(255, 62, 105,.75);
  font-weight: 500;
  padding:.25rem 0;
  letter-spacing: 2px;
  box-shadow: 0px 2.5px 12.5px rgba(255, 62, 105,.75);
 
  
}

.section2-title{
  text-align: center;
  margin:0;
  font-weight: 500;
  padding:.25rem 0;
  background-color: rgba(114, 239, 163,.75);
  letter-spacing: 2px;
  box-shadow: 0px 2.5px 12.5px rgba(114, 239, 163,.75);
}
